body {
  height: 1200px;
}
.header {
  background-color: rgb(51, 51, 131);
  height: 300px;
}
.header h1 {
  padding-top: 100px;
}
.header .form {
  padding-top: 50px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}
form {
  width: 85%;
  height: 50px;
  margin: 20px auto;
  display: flex;
}
form input,
form button {
  flex: 3;
  border: none;
  outline: none;
  border-bottom: 1px solid #555;
  margin: 0 5px;
  border-radius: 8px;
}
form input {
  padding-left: 20px;
}
form button {
  flex: 1;
  background: #555;
  color: white;
  letter-spacing: 2px;
  cursor: pointer;
}
.add {
  color: #fff !important;
  width: 40px !important;
  height: 40px !important;
}
.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.section {
  max-width: 500px;
  width: 100%;
  box-shadow: 0 2px 6px #555;
  margin: 0 auto;
  padding: 50px;
  background-color: rgb(238, 144, 20);
  border-radius: 8px;
  /* position: relative; */
}

.todoLists li {
  list-style: none;
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 50px;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  background-color: #fff;
  color: red;
}
.drag li {
  background: rgb(8, 8, 197);
}
.todoLists li .active {
  opacity: 0.5;
  text-decoration: line-through;
  color: green;
}
.todoLists li input {
  margin-right: 5px;
  transform: translateY(1px);
}

[type='checkbox']:not(:checked):before,
[type='checkbox']:not(:checked):after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1.4em;
  height: 1.4em;
  border: 1px solid red;
  background: #fff;
  border-radius: 0.2em;
  -webkit-transition: all 0.275s;
  transition: all 0.275s;
}
[type='checkbox']:checked:before,
[type='checkbox']:checked:after {
  content: '✔';
  position: absolute;
  left: 0;
  top: 0;
  width: 1.4em;
  height: 1.4em;
  border: 1px solid green;
  color: green;
  font-size: 15px;
  background: #fff;
  border-radius: 0.2em;
  -webkit-transition: all 0.275s;
  transition: all 0.275s;
}
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  background-color: rgb(253, 255, 254);
  border-radius: 8px;
  box-shadow: 0 2px 6px #555;
  /* font-size: 10px; */
}
.items {
  display: flex;
  justify-content: space-evenly;
}
.footer button {
  outline: none;
  border: none;
  background: #fff;
}
.items button {
  margin-left: 5px;
}
.items button:nth-child(1) {
  color: blue;
}
.items button:nth-child(2),
.delete {
  color: red;
}
.items button:nth-child(3) {
  color: green;
}
.item {
  display: flex;
  justify-content: space-around;
}
.item-left {
  margin-right: 10px;
}
@media screen and (min-width: 900px) {
  .header {
    margin-bottom: -50px;
  }
  .header h1 {
    padding-top: 50px;
  }
  form {
    width: 100%;
  }
}
